html {
    background-color: aqua;
}

table {
    background-color: beige;
    margin: auto;
}

main {
    background-color: orange;
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    max-width: 80%;
}

ul {
    list-style: none;
}
li {
    width: max-content;
}

#paginator {
    margin: 3em auto 1em auto;
    width: fit-content;
    text-align: center;
}
#paginator svg {
    width: 1em;
    height: 1em;
    margin: 0 0.5em;
    cursor: pointer;
}